$bp-table: new-breakpoint(max-width 600px);

.search-container{
  @include outer-container;
    h4 { //block-quote text
    font-family: $base-sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    margin: 1em .5em 1em 0;
    position: relative;
    text-align: left;
  }
}

input{
  @include span-columns(3);
  @include media($bp-table) {
    @include span-columns(12);
    margin: 0 0 1em 0;
    clear: both;
    height: 1.5em;
  }
}

.results{
  display: block;
}

.hidden{
  display: none;
}

.reset-btn{
  border: 1px solid $tribune-yellow;
  width: 100px;
  margin: .7em .5em .7em 0;
  text-align: center;
  clear: both;
  font-family: $base-sans-serif;
  font-size: 1em;
  cursor: pointer;
  background-color:$tribune-yellow;
  border-radius: 2px;
  font-weight: 700;
  p{
    margin: .2em 0;
  }
  &:hover{
    opacity: 0.7;
  }
}

.sorter{
  position: relative;
}

.alphabet{
  float: right;
  margin-left: 1em;
}

table {
  font-family: Helvetica;
  margin-bottom: 1em;
  width: 100%;

  @include media($bp-table) {
    border-top: 1px solid $line-gray;
    display: block;
    font-size: .875em;
  }
}

thead {
  @include media($bp-table) {
    display: none;
  }
}

tbody {
  @include media($bp-table) {
    display: block;
  }

}

th {
  border-bottom: 1px solid $line-gray;
  font-size: .9em;
  font-weight: 800;
  padding: 0 12px 8px;
  text-align: left;
  vertical-align: middle;

  &:last-child {
    text-align: right;
  }

  @include media($bp-table) {
    display: block;
  }
}

td {
  font-size: .875em;
  padding: 8px 12px;
  text-align: left;

  &:last-child {
    text-align: right;
  }

  @include media($bp-table) {
    display: block;
    font-weight: 300;
    padding: 0 12px 8px;
    text-align: left;

    &:first-child {
      font-size: 1em;
      font-weight: 800;
      padding-top: 8px;
    }

    &[data-title] {
      &:first-child:before {
        content: none;
      }
    }

    &:before {
      content: attr(data-title) '\A';
      display: block;
      font-weight: 800;
      margin-bottom: .25em;
      white-space: pre-wrap;
    }

    &:last-child {
      text-align: left;
    }

  }
}

tr {
  &:nth-child(odd) td {
    background-color: $background-gray;
  }

  @include media($bp-table) {
    display: block;
  }
}
